.glass-card {
  background: rgba(16, 20, 21, 0.6);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.glowing-primary {
  box-shadow: 0 0 20px rgba(157, 80, 187, 0.3);
}

.text-gradient {
  background: linear-gradient(to right, #9d50bb, #38bdf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.brand-gradient {
  background: linear-gradient(to right, #9d50bb, #38bdf8);
}
.search-gradient-border:focus-within {
  border-image: linear-gradient(to right, #9d50bb, #38bdf8) 1;
  box-shadow: 0 0 15px rgba(157, 80, 187, 0.2);
}
